<h1>Need help? Join Lulu network</h1>

<form action="/signup" method="post" class="form-signup">
  <div class="form-group">
    <input type="text" name="firstname" value="Firstname">
  </div>

  <div class="form-group">
    <input type="text" name="lastname" value="Lastname">
  </div>

  <div class="form-group">
    <input type="text" name="email" value="Email">
  </div>

  <div class="form-group">
    <input type="text" name="description" value="Description">
  </div>

  <div class="form-group">
    <input type="password" name="password" value="Password">
  </div>

  <button type="submit">Signup</button>
</form>
